@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #3a3a3a;
}

.main-header {
  font-family: "Montserrat", sans-serif;
}

.create-form label {
  color: white !important;
  font-family: "Montserrat", sans-serif;
  font-size: 12px !important;
}
